
-- ustawić odpowiedni IdObj Rejestru - linia: set @IdRejestr = 32
declare @IdRejestr as int
set @IdRejestr = 32
if not exists(select * from n5globprof where indeks=1098)
	insert into n5globprof select 1+(select max(idobj) from n5globprof),1,1098,@IdRejestr

-- wyłączenie z powiadomień starych zamówień
update n5zamowienie set zam_eWaznoscZam = 2 where pRejestrDok = @IdRejestr
go

-- ustawić czas - linia: set @czas = 3600
declare @czas as int
set @czas = 3600
if not exists(select * from n5globprof where indeks=1099)
	insert into n5globprof select 1+(select max(idobj) from n5globprof),1,1099,@czas
go
